body{
    background-color: black;
    height: 100%;
    overflow: hidden;
}
li{
    display:inline;
}
li a{
    padding: 15vh;
    text-decoration: none;
    color: white;
    text-align: center;
}
li a:visited{
    text-decoration: underline;
    text-decoration-color:aquamarine ;

}
 li a:hover{
    transition: transform 0.2s;
    transform: translateY(-20px);
}
#row{
    display: flex;
}
#column{
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    margin: 0px 10px;
    padding:25px;
    flex:40%;
    height: 70vh;
    
}
h3 {
    color: white;
    font-size: 12px;
    font-family: monospace;
}
#hello-hand{
    display: inline-block;
    animation-name: hand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;

}
@keyframes hand{
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}




#copyright{
    font-family: monospace;
    margin: 15px;
    color: white;
}
